# common appliction properies:
# https://docs.spring.io/spring-boot/docs/current/reference/html/application-properties.html

# profile - https://docs.spring.io/spring-boot/reference/features/profiles.html

spring:
  profiles:
    group:
      production:
        dev: test
        prod: common

# spring.profiles.active: dev,hsqldb
spring.profiles.default: dev
spring.profiles.active: dev

logging.config: classpath:log4j2-${spring.profiles.active}.xml

mybatis:
  configuration:
    map-underscore-to-camel-case: true
    use-generated-keys: true
  mapper-locations: classpath:mapper/**/*.xml
  # DAO(result type) package
  type-aliases-package: com.example.springwebex.model

server.port: 8181

---
spring.config.activate.on-profile: dev

spring:
  # db datasource
  datasource:
    driver-class-name: org.postgresql.Driver
    url: jdbc:postgresql://localhost:5432/dvdrental
    username: postgres
    password: postgres
    # https://docs.spring.io/spring-boot/docs/current/reference/html/application-properties.html#application-properties.data.spring.datasource.hikari

my:
  datasource:
    url: dev.db.com
    username: dev_user
    password: dev_pw
    etc:
      max-connection: 10
      timeout: 60s
      options: DEV, CACHE

#logging.level.com.zaxxer.hikari.HikariConfig: DEBUG
#logging.level.com.zaxxer.hikari: TRACE

---
spring.config.activate.on-profile: prod

my:
  datasource:
    url: prod.db.com
    username: prod_user
    password: prod_pw
    etc:
      max-connection: 50
      timeout: 10s
      options: PROD, CACHE
